<h2>There is no integration between the tools, currently</h2>
<ul>
  <li><a href='browser'>Class Browser</a></li>
  <li><a href='debugger'>Debugger</a></li>
  <li><a href='info/version'>Version Info</a></li>
  <li><a href='info/sessions'>Stone Session Info</a></li>
</ul>
<small>Go and select one directly</small>
