<div>
  <table>
    <caption>GemStone Session Report</caption>
    <thead id="sessionHeaders">
      <tr>
      </tr>
    </thead>
    <tbody id='sessionTable'>
    </tbody>
  </table>
  <p class="timestamp"></p>
</div>
